<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hora Atual</title>
    <meta http-equiv="refresh" content="1"> <!-- Atualiza a página a cada segundo -->
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 20%;
        }
        h1 {
            font-size: 3em;
            color: #4CAF50;
        }
        p {
            font-size: 2em;
            color: #555;
    
        }
        h6{
            font-size: 3em;
            color: #ff0000; 
        }
    </style>
</head>
<body>
    <h1>Hora Atual</h1>
    <h6>AO VIVO!</h6>
    <p>{{ time }}</p>
</body>
</html>

<!-- Comandos 
 python app.py

